{%extends 'storm/base.html' %}

{% block content %}
<div align="center">
<h1>Edit Inventory</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><h2>Snack</h2></th>
      <th scope="col"><h2>Amount</h2></th>
      <th scope="col"><h2>Price</h2></th>
    </tr>
  </thead>
    {%for s in snack%}
  <tbody>
    <tr>
      <td><a href="{%url 'edit_inventory' s.id %}"><b>{{s}}</b></a></td>
      <td>{{s.amount}}</td>
      <td>${{s.price}}</td>
    </tr>
  </tbody>
    {%endfor%}
</table>


{% endblock %}